<main>
  <h1>Liste des articles</h1>
  <div>
    <nav>
      <button routerLink="add">Ajouter</button>
      <button>Supprimer</button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of articleService.articles">
          <td class="name">{{ a.name }}</td>
          <td class="price">{{ a.price }} €</td>
          <td class="qty">{{ a.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
