<main>
  <h1>Liste des articles</h1>
  <div>
    <nav>
      <button routerLink="add">Ajouter</button>
      <button>Supprimer</button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">2.34 €</td>
          <td class="qty">120</td>
        </tr>
        <tr>
          <td class="name">Tournevis Cruciforme</td>
          <td class="price">3.45 €</td>
          <td class="qty">120</td>
        </tr>
        <tr>
          <td class="name">Pince</td>
          <td class="price">2.34 €</td>
          <td class="qty">120</td>
        </tr>
        <tr>
          <td class="name">Marteau</td>
          <td class="price">10.00 €</td>
          <td class="qty">120</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
