button {
  margin-right: 0.3em;
}

nav {
  margin-bottom: 1em;
}

table {
  border: 0.1em solid #bbb;
  border-collapse: collapse;
  thead {
    background: #bbb;
  }

  th,
  td {
    padding: 0.5em 1em;
  }

  tbody {
    tr:nth-child(even) {
      background: #eee;
    }

    tr:hover {
      cursor: pointer;
      background: #ddd;
    }

    tr.selected {
      background: #ccc;
    }

    // td.name {
    //   white-space: nowrap;
    //   text-overflow: ellipsis;
    //   overflow: hidden;
    //   max-width: 8em;
    // }
  }
}
