<main>
  <h1>Liste des articles</h1>
  <div>
    <nav>
      <button routerLink="add">Ajouter</button>
      <button [hidden]="selectedArticles.size === 0" (click)="remove()">
        Supprimer
      </button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr
          [class.selected]="selectedArticles.has(a)"
          (click)="toggle(a)"
          *ngFor="let a of articleService.articles"
        >
          <td class="name">{{ a.name | ellipsis: 12:"...." }}</td>
          <td class="price">{{ a.price | currency }}</td>
          <td class="qty">{{ a.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
