form {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 25em;

  label {
    padding-bottom: 1em;
  }

  button {
    margin-top: 2em;
  }

  input {
    width: 100%;
    padding: 0.5em 1em;
    border: 0.1em solid #ccc;
  }
}
