<main>
  <h1>Ajouter un article</h1>
  <form [formGroup]="f" (ngSubmit)="submit()">
    <label>
      <div>Nom</div>
      <input type="text" [formControlName]="'name'" />
    </label>
    <label>
      <div>Prix</div>
      <input type="number" formControlName="price" step="0.01" min="0" />
    </label>
    <label>
      <div>Quantité</div>
      <input type="number" formControlName="qty" min="0" />
    </label>
    <button type="submit" [disabled]="f.invalid">Ajouter</button>
  </form>
</main>
