<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, quod
    voluptatum iusto ad, perferendis at unde deserunt libero iure hic ipsa
    maiores odit quibusdam fugit ipsum, voluptates nam quis nobis.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, quod
    voluptatum iusto ad, perferendis at unde deserunt libero iure hic ipsa
    maiores odit quibusdam fugit ipsum, voluptates nam quis nobis.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, quod
    voluptatum iusto ad, perferendis at unde deserunt libero iure hic ipsa
    maiores odit quibusdam fugit ipsum, voluptates nam quis nobis.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, quod
    voluptatum iusto ad, perferendis at unde deserunt libero iure hic ipsa
    maiores odit quibusdam fugit ipsum, voluptates nam quis nobis.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, quod
    voluptatum iusto ad, perferendis at unde deserunt libero iure hic ipsa
    maiores odit quibusdam fugit ipsum, voluptates nam quis nobis.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, quod
    voluptatum iusto ad, perferendis at unde deserunt libero iure hic ipsa
    maiores odit quibusdam fugit ipsum, voluptates nam quis nobis.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, quod
    voluptatum iusto ad, perferendis at unde deserunt libero iure hic ipsa
    maiores odit quibusdam fugit ipsum, voluptates nam quis nobis.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, quod
    voluptatum iusto ad, perferendis at unde deserunt libero iure hic ipsa
    maiores odit quibusdam fugit ipsum, voluptates nam quis nobis.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, quod
    voluptatum iusto ad, perferendis at unde deserunt libero iure hic ipsa
    maiores odit quibusdam fugit ipsum, voluptates nam quis nobis.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, quod
    voluptatum iusto ad, perferendis at unde deserunt libero iure hic ipsa
    maiores odit quibusdam fugit ipsum, voluptates nam quis nobis.
  </p>
</main>
