/* You can add global styles to this file, and also import other style files */

@import "../node_modules/normalize.css/normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0.5em;
  max-width: 50em;
  width: 100%;
  margin: 0 auto;
}

button {
  padding: 0.5em 1em;

  &:enabled {
    cursor: pointer;
  }
}

h1 {
  text-align: center;
}
